body {
  height: 100%;
  width: 100%;
}

.preview {
  background-image: url(./img/background\ 1.png);
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 46px;
}

.container {
  width: 1022px;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17px;
}

.header_nav_one_flex {
  display: flex;
  align-items: center;
}

.header_nav_link_phone:hover {
  color: #F26522;
  transition: .8s;
}

.head_nav_two:hover {
  color: #F26522;
  transition: .8s;
}

.header_logo {
  background-image: url(./img/logo\ 3.png);
  width: 53px;
  height: 47px;
}

.header_nav_one_flex:hover .header_nav_logo_text {
  color: #F26522;
  transition: .8s;
}


.header_nav_one_flex:hover .header_logo {
  background-image: url(./img/logo\ 3.1.png);
  transition: .8s;
}

.head_nav_two,
.header_nav_link_phone {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.header_nav_logo_span {
  display: block;
}

.header_logo {
  margin-right: 8px;
}

.header_nav_link_phone {
  margin-top: 19px;
  display: block;
}

.header_nav_logo_text {
  color: #ffffff;
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
}

.header_nav_logo_span {
  font-size: 18px;
  line-height: 18px;
  margin-top: 6px;
}

/* main */

.main_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 37px;
  column-gap: 55px;
}

.main_list_text {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
}

.second_text {
  margin-top: 12px;
}

.main_cover {
  position: relative;
  overflow: hidden;
}

.shop_details {
  position: absolute;
  background-color: #F26522;
  height: 55px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 7px 37px 12px 16px;
  align-content: space-between;
  justify-content: space-between;
  bottom: -55px;
  width: 100%;
}

.main_list_items:hover .shop_details {
  transition: .8s;
  bottom: 0;
}

.main_list_items:hover .main_list_text {
  color: #F26522;
  transition: .8s;
}

.shop_text {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.shop_price {
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}

.details {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-top: 20px;
  position: relative;
}

.details::after {
  position: absolute;
  right: -23px;
  content: url(./img/Vector\ 1.png);
  font-size: 20px;
}

/* footer */

.footer_text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 49px;
}