.preview {
  background-image: url(./img/Фон\ 1.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* HEADER  */

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  padding: 0 80px;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_link {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.header_welcome {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.header_items {
  margin-right: 25px;
}

.header_vertical_line {
  border-left: 1px solid #ffffff;
  height: 19px;
  left: -25px;
  opacity: 90%;
  margin-right: 0;
}

.header_nav_text {
  margin-right: 4px;
}

.sign_item {
  margin-right: 4px;
}

.header_logo_link:hover {
  color: #01813F;
  opacity: 60%;
  transition: .3s;
}

.header_vertical_line:hover {
  color: #000000;
  opacity: 40%;
  transition: .3s;
}

.header_nav_text:hover {
  opacity: 60%;
  transition: .3s;
}

.sign_item:hover {
  color: #01813F;
  transition: .3s;
}

.header_icons path:hover {
  fill: #01813F;
  opacity: 60%;
  transition: .3s;
}

/* MAIN */

.form_container {
  width: 444px;
  height: 600px;
  background-color: #ffffff;
  padding: 31px 60px 38px 60px;
  position: relative;
}

.sign_form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sign_form::before {
  position: absolute;
  left: 0;
  content: "";
  height: 18px;
  width: 18px;
  background-color: #3CB878;
}

.sign_up {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.log_in {
  color: #3CB878;
  font-size: 14px;
  line-height: 14px;
}

.log_in:hover {
  text-decoration: underline;
  color: #01813F;
  transition: .3s;
}

.sotial_net {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
}

.sotial_btn {
  height: 46px;
  width: 157px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook {
  background-color: #305DB8;
  color: #ffffff;
}

.facebook:hover {
  background-color: #022263;
  transition: .3s;
}

.google {
  background-color: #DF4A32;
  color: #ffffff;
}

.google:hover {
  background-color: #AB1F09;
  transition: .3s;
}

.face,
.goo {
  font-size: 16px;
  line-height: 16px;
}

.face::before {
  content: "";
  border-left: 1px solid #0A162F;
  opacity: 10%;
  position: relative;
  right: 18px;
}

.goo::before {
  content: "";
  border-left: 1px solid #2B0D09;
  opacity: 10%;
  position: relative;
  right: 30px;
}

.option_or {
  text-align: center;
  color: #848484;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  margin-bottom: 12px;
}

.option_or::before {
  content: "";
  border-bottom: 1px solid #F2F2F2;
  width: 152px;
  position: absolute;
  top: 8px;
  right: 170px;
}

.option_or::after {
  content: "";
  border-bottom: 1px solid #F2F2F2;
  width: 152px;
  position: absolute;
  top: 8px;
  right: 2px;
}

/* FORM */

.form input {
  display: block;
  width: 100%;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  margin-top: 16px;
  padding: 15px 90px 15px 19px;
}

form input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
  color: #BEBEBE;
}

.checkbox_link {
  color: #3CB878;
  font-size: 14px;
  line-height: 14px;
}

.checkbox_link:hover {
  color: #01813F;
  text-decoration: underline 1px solid #01813F;
}

.flex_checkbox {
  display: flex;
  align-items: flex-end;
  margin-top: 12px;
}

form .checkbox_inp {
  margin: 0;
  width: 20px;
}

form .checkbox_inp {
  display: none;
}

.check_box {
  position: relative;
}

.check_box::before {
  content: "";
  color: #3CB878;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #F2F2F2;
  border-image: initial;
  vertical-align: middle;
}

.checkbox_inp:checked+.check_box:before {
  content: url(./img/Vector\ 1.png);
}

.button {
  background-color: #3CB878CC;
  opacity: 80%;
  height: 46px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
}

.button:hover {
  opacity: 100%;
  background-color: #01813F;
  transition: .3s;
}

.changeColor {
  margin-top: 100px;
  margin-left: 100px;
  height: 50px;
  width: 180px;
  background-color: #01813F;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  font-weight: 600;
}

.changeColor:hover {
background-color: #434343;
transition: .3s;
color: #848484;
}
