html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.navbar-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-list-item {
  display: inline-block;
  margin-right: 72px;
}

.navbar-list-link {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

/* Main */
.main-image {
  height: 789px;
}

.main-img {
  width: 100%;
}

.main-content {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 42px;
}

.main-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #373737;
  margin-top: 0;
  margin-bottom: 38px;
}

.main-text {
  margin: 0 67px 28px;
  font-size: 16px;
  line-height: 26px;
}

.main-btn {
  background-color: red;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 18px 43.5px 17px 42.5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin-top: 66px;
}

/* Footer */

.footer {
  line-height: 39;
  text-align: end;
  margin-right: 105px;
  padding-bottom: 29px;
  padding-top: 40px;
}

.footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  margin-top: 0;
  margin-bottom: 0;
}