body {
  overflow-x: hidden;
  }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 240px;
  background-color: #1F1F1F;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  max-width: 1460px;
  margin: 0 auto;
}

/* header */
.header_navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  padding-left: 0;
}

.header_nav_item {
  font-size: 18px;
  line-height: 30px;
}

.header_link {
  text-decoration: none;
  color: #E4B564;
  border: 1px solid #E4B564;
  padding: 10px 25px;
}

.phone_pic {
  margin-right: 10px;
}

.header {
  margin-top: 37px;
}

/* main */
.section_title {
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}

.section_first_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin: 41px 0;
}

.section_first_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  justify-content: space-around;
}

.section_first_items {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_first_items:nth-child(1) {
  grid-column: 1/3;
  background-color: #634F2C;
}

.section_first_items:nth-child(2) {
  grid-column: 3/5;
  background-color: #B4A385;
  padding: 45px;
  text-align: center;
}

.section_first_items:nth-child(3) {
  grid-column: 5/7;
  background-color: #E4B564;
}

.section_first_items:nth-child(4) {
  grid-area: 2/1/3/4;
  background-color: #635A4A;
}

.section_first_items:nth-child(5) {
  grid-area: 2/4/3/7;
  background-color: #B08C4D;
}

.section_first {
  margin-bottom: 161px;
}

.section_second_flex {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  max-height: 900px;
  flex-wrap: wrap;
  margin: 94px 0 200px 0;
}

.sec_second_link {
  list-style-type: none;
  width: 460px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  color: #ffffff;
}

.main_uppercase {
  display: block;
  font-weight: 700;
  color: #ffffff;
}

.sec_sec_text {
  margin: 25px 0 0 25px;
}

.link_one {
  height: 313px;
  background-color: #0E0E0E;
  margin-bottom: 24px;
}

.link_two {
  height: 560px;
  background-color: #352d2d;
}

.link_three {
  height: 439px;
  background-color: #242424;
  margin-bottom: 24px;
}

.link_four {
  height: 405px;
  background-color: #E4B564;
  color: #000;
}

.link_five {
  height: 255px;
  background-color: #857f7f;
  margin-bottom: 24px;
}

.link_six {
  height: 313px;
  background-color: #0E0E0E;
  margin-bottom: 24px;
}

.link_seven {
  height: 277px;
  background-color: #0A0909;
}

.section_three {
  background-color: #0E0E0E;
  padding-top: 172px;
  width: 100%;
}

.footer_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.footer_grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer_grid_items {
  height: 391px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item_one {
  background-color: #634F2C;
}

.footer_item_two {
  background-color: #E8D2ABC2;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #ffffff;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
}

.footer_item_three {
  background-color: #E4B564;
}

.footer_item_four {
  background-color: #635A4A;
}

.footer_item_five {
  background-color: #B08C4D;
}

.footer_item_six {
  background-color: #634F2C;
}

.foot_item_two_apan {
  font-weight: 400;
}