body {
  background-color: rgba(29, 74, 32, 0.36);
}

.modalBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  opacity: 0.6;
}

/*# sourceMappingURL=modal.css.map */
