*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
picture,
video,
canvas,
svg {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: lightgrey;
}


.modalWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  bottom: 100px;
  z-index: 11;
  background: rgb(255, 230, 0);
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  p {
    padding: 15px;
    text-align: center;
  }
  .modal-header {
    background-color: #7CFC00;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
  }

  .modalBtn {
    color: #ffffff;
    display: block;
    background-color: rgb(165, 149, 1);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    min-width: 100px;
  }
}

.first-modal {
  background: #E9967A;
  .modalHeader {
    background-color: #FA8072;
  }
  .modalBtn {
    background-color: #FA8072;
  }
}

.second-modal {
  background: #EE82EE;
  .modalHeader {
    background-color: #DA70D6;
  }
  .modalBtn {
    background-color: #DA70D6;
    width: 100%;
  }
}

.modalBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.closeBtn {
  display: block;
  background: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.modalBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
}

