body {
  max-width: 1280px;
  margin: 0 auto !important;
  padding-top: 63px;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
.container {
  padding-top: 63px;
}

.main_title_link {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: black;
  text-align: left;
  margin-left: 40px;
}

.link {
  color: #4BCAFF;
}

.navbar {
  background-color: #35444F;
  margin-top: 40px;
}

.navbar_list {
  display: flex;
  justify-content: center;
}

.navbar_list_item {
  color: white;
  line-height: 72px;
  font-size: 24px;
  border-right: 1px solid white;
  padding-right: 32px;
  padding-left: 32px;
}

.navbar_list_item:first-child {
  border-left: 1px solid #FFFFFF;
  padding-left: 32px;
}

.navbar_list_item:hover {
  background: #222F3A;
  transition: 0.5s;
}

/* main */
.main {
  display: flex;
  justify-content: space-between;
}

.aside_navbar {
  flex-basis: 344px;
}

.aside_nav {
  border: 1px solid black;
  margin-top: 49px;
  width: 344px;
}

.aside_navlink {
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding: 25px 42px;
}

.aside_navlink:hover {
  background: #DBDBDB;
  padding-left: 70px;
  transition: 0.5s;
}

.section {
  flex-basis: 885px;
}

.right {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}

.main_picture {
  height: 529px;
  border: 1px solid #000000;
  margin-bottom: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_picture:hover {
  transform: scale(1.25);
  transition: 0.5s;
}

.main_text {
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}

p:first-child {
  margin-bottom: 34px;
}

/* footer */
.nav_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
  margin-top: 54px;
}

.navbar_footer {
  display: flex;
  justify-content: space-between;
  width: 875px;
  margin: 0;
}

.navbar_footer_menu {
  font-size: 28px;
  color: #0C1927;
}

.navbar_footer_menu:hover {
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
  transition: 0.5s;
}

.copyright {
  font-size: 24px;
  color: #010101;
}