#root {
  background-color: rgba(9, 83, 31, 0.25);
  min-height: 100vh;
  padding-bottom: 20px;
}

.modal-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
}

/*# sourceMappingURL=modal.css.map */
