.userDiv {
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px ;
    padding: 8px;
    background-color: rgba(245, 238, 39, 0.23);
}

.userName {
   margin: 0;
}

.userEmail,
.title,
.body {
    margin: 0;
}

.removeCard {
    margin-top: 10px;
    border-radius: 5px;
}