.footer {
  height: 355px;
  background: $footer-background-color;
  padding-top: 65px;

  &__content {
    @include center;
    text-align: center;
    max-width: 685px;
  }

  &__title {
    @include to-uppercase;
    @include text-decoration($font-size-regular, $line-height-regular, $font-bold, $footer-title-color);
    margin-bottom: 20px;
  }

  &__text {
    @include text-decoration ($font-size-regular, $line-height-high, $font-regular, $footer-text-color);
    margin-bottom: 40px;
  }

  &__icons {
    @include flex-center;
    justify-content: center;
  }

  &__link {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    @include flex-center;
    margin-right: 7px;

    &--orange {
      border: 2px solid #F8902E;
    }

    &--purple {
      border: 2px solid #39599F;
    }

    &--blue {
      border: 2px solid #45B0E3;
    }

    &--violet {
      border: 2px solid #D97AB0;
    }

    &--red {
      border: 2px solid #CC212C;
      margin-right: 0;
    }
  }

  &__contacts {
    @include text-decoration ($font-size-regular, $line-height-high, $font-regular, $footer-text-color);
    margin-top: 35px;
    &--break {
      display: none;
    }
  }

}