.header {

  &__nav {
    @include flex-center;
    justify-content: space-between;
    height: 90px;
    margin: 0 150px;

    .nav__link {
      @include text-decoration (11px, $line-height-regular, $font-regular, $color-main);
      @include to-uppercase;

      &-home {
        color: $color-hover;
      }
    }
  }

  &__burger {
    cursor: pointer;
    display: none;
    background-color: #000;
    width: 45px;
    height: 35px;
    margin-left: auto;
    position: relative;
  }

  &__picture {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      text-align: center;
    }
  }

  &__hiden-menu {
    width: 182px;
    max-height: 208px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 35px;
    display: none;

    .nav__link-hiden {
      @include text-decoration (11px, $line-height-regular, $font-regular, $color-main);
      @include to-uppercase;
      padding-left: 12px;

      &-home {
        color: $color-hover;
      }
    }
  }

  .nav__hiden:hover {
    background-color: #E5E5E5;
    transition: 0.6s;
  }

  .menuShow {
    display: flex;
  }
}