.instagram-gallery {
  @include insta-background;
  padding: 50px 0;


&__description {
  @include flex-center;
  justify-content: space-between;
}

&__latest-shots {
  @include text-decoration ($font-size-regular, $line-height-regular, $font-bold, $color-main);
  @include to-uppercase;
}

&__insta-page {
  @include text-decoration (13px, $line-height-regular, $font-bold, $color-main);
  @include to-uppercase;
}

&__img {
  @include flex-center;
  justify-content: space-between;
  margin-top: 25px;
}

}