.header__picture--tablet,
.header__picture--phone,
.insta__picture--tablet,
.insta__picture--phone {
  display: none;
}

.instagram-gallery__latest-shots--phone {
  @include text-decoration (14px, $line-height-regular, $font-bold, $color-main);
  @include to-uppercase;
  display: none;
}

@media screen and (max-width: 1200px) {

  .header__nav {
    height: 80px;
  }

  .header__picture--screen,
  .insta__picture--screen {
    display: none;
  }

  .header__picture--tablet,
  .insta__picture--tablet {
    display: inline;
  }

  .our-posts__container {
    flex-wrap: nowrap;
    height: 650px;
  }

  .instagram-gallery__img {
    justify-content: space-around;
  }


  .footer {
    height: 340px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 820px) {
  .header__nav {
    margin: 0 100px;
  }
  .insta__picture--tablet-dis-820 {
    display: none;
  }

  .our-posts__title {
    margin: 30px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

    &--hidden {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {

  .header__picture--phone,
  .insta__picture--phone,
  .footer__contacts--break {
    display: inline;
  }

  .instagram-gallery__latest-shots,
  .instagram-gallery__insta-page,
  .our-posts__item:last-of-type,
  .our-posts__content_regular,
  .insta__picture--screen,
  .insta__picture--tablet,
  .header__picture--screen,
  .header__picture--tablet {
    display: none;
  }

  .instagram-gallery__latest-shots--phone {
    display: block;
    font-size: 14px;
  }

  .our-posts__item {
    flex-direction: column;
    align-items: baseline;
  }

  .our-posts__content_bold {
    margin-top: 10px;
    font-size: 14px;
  }

  .instagram-gallery {
    padding: 30px 0;
  }

  .instagram-gallery__img {
    justify-content: flex-start;
  }

  .our-posts {
    padding-bottom: 0;
  }

  .footer {
    height: 315px;
    padding-top: 30px;
  }

  .footer__content {
    max-width: 300px;
  }

  .footer__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .footer__contacts {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
  }
}