@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin to-uppercase {
  text-transform: uppercase;
}

@mixin center {
  margin: 0 auto;
}

@mixin flex-colomn-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
}

@mixin insta-background {
  background: rgba(0, 0, 0, 0.03);
}

@mixin text-decoration ($font-size, $line-hight, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-hight;
  font-weight: $font-weight;
  color: $color;
}