.our-posts {
  margin-bottom: 70px;

&__title {
  @include text-decoration ($font-size-regular, $line-height-regular, $font-bold, $color-main);
  @include to-uppercase;
  margin: 60px 0 25px 0;
}

&__container {
  height: 310px;
  @include flex-colomn-wrap;
}

&__item {
 max-width: 555px;
  display: flex;
}

&__content {
  margin-left: 18px;
}

&__content_bold {
  @include text-decoration ($font-size-regular, 30px, $font-bold, $color-main);
}

&__content_light {
  @include text-decoration (12px, 20px, $font-regular, #7C7C7C);
}

&__content_regular {
  @include text-decoration (14px, $line-height-high, $font-regular, $color-main);
  margin-top: 15px;
}
}