$font-regular: 400;
$font-bold: 700;
$line-height-regular: 22px;
$line-height-high: 26px;
$font-size-regular: 16px;
$color-main: #4E4E4E;
$color-hover: #57A4A4;
$footer-background-color: #000000;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;