.btn {
    display: block;
    margin: 40px auto;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 606;
    border-radius: 15px;
}

.address {
    padding-left: 40px;
}


.loader-wrap {
    display: none;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;
}

.active {
    display: block;
    margin: 0 auto;
}

.loader {
    width: 120px;
    height: 12px;
    position: relative;
    top: 70px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #00ff0d;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0d,
    0 0 20px #00ff0d 0 0 40px #00ff0d 0 0 60px #00ff0d 0 0 80px #00ff0d 0 0 100px #00ff0d;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    80%,
    100% {
        transform: scale(0);
    }
}